@charset "utf-8";

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
b,
small,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
sub,
sup,
tt,
var,
del,
dfn,
ins,
kbd,
q,
s,
samp,
strike,
applet,
object,
iframe,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
mark,
audio,
video,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}


a {
	text-decoration: none;
	outline: none;
	color: #000;
}

a:hover {
	color: #000;
}

img {
	border: 0;
	max-width: 100%;
}

a:focus {
	outline: none;
}


html {
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
}

 @font-face {
	font-family: 'bai-jamjuree-latin-400-normal';
	src: url('../fonts/bai-jamjuree-latin-400-normal.html');
	src: local('☺'),
		url('../fonts/bai-jamjuree-latin-400-normald41d.html?#iefix') format('embedded-opentype'),
		url('../fonts/bai-jamjuree-latin-400-normal.woff') format('woff'),
		url('../fonts/bai-jamjuree-latin-400-normal.ttf') format('truetype'),
		url('../fonts/bai-jamjuree-latin-400-normal.otf') format('opentype'),
		url('../fonts/bai-jamjuree-latin-400-normal-2.html') format('dfont'),
		url('../fonts/bai-jamjuree-latin-400-normal.svg#bai-jamjuree-latin-400-normal') format('svg');
}

@font-face {
	font-family: 'bai-jamjuree-latin-700-normal';
	src: url('../fonts/bai-jamjuree-latin-700-normal.html');
	src: local('☺'),
		url('../fonts/bai-jamjuree-latin-700-normald41d.html?#iefix') format('embedded-opentype'),
		url('../fonts/bai-jamjuree-latin-700-normal.woff') format('woff'),
		url('../fonts/bai-jamjuree-latin-700-normal.ttf') format('truetype'),
		url('../fonts/bai-jamjuree-latin-700-normal.otf') format('opentype'),
		url('../fonts/bai-jamjuree-latin-700-normal-2.html') format('dfont'),
		url('../fonts/bai-jamjuree-latin-700-normal.svg#bai-jamjuree-latin-700-normal') format('svg');
}



.zIndex10 { z-index: 10; }
body {
	-webkit-font-smoothing: antialiased;
	font-family: 'bai-jamjuree-latin-400-normal';
	background: #fff;
	font-size: 14px;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	letter-spacing: -0.02em;
}

.fine { font-family:"bai-jamjuree-latin-400-normal"; }
.wide { font-family:"bai-jamjuree-latin-700-normal"; }

table {
	border-collapse: collapse;
	width: 100%;
}

.alma { font-family: "Alimama_ShuHeiTi_Bold";}
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='radio'] {
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
	position: relative;
	vertical-align: middle;
	margin-top: -2px;
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-appearance: none;
}
textarea,
input[type='email'],
input[type='date'],
input[type='password'],
input[type='text'] {
	padding: 0px;
	color: #666;
	font-size: 12px;
	outline: none;
	font-family: "Microsoft YaHei";
	-webkit-appearance: none;
}


.f-l {
	float: left;
}

.f-r {
	float: right;
}

.clearfix {
	clear: both;
}

.clearfix:after {
	clear: both;
	height: 0;
	content: "";
	line-height: 0;
	font-size: 0;
	display: block;
}



.mb { display:none; }
@media(max-width: 1100px){
	.pc { display:none; }
	.mb { display:block; }
}

.relative { position: relative; }
.mainMd { position: absolute; left:0; top: -72px; width: 1px; height: 1px; opacity: 0; }

@media(max-width:  1100px){
	.mainMd { top: -68px; }
}
.fl { float: left; }
.fr { float: right; }
.flNone { float: none!important; }
.relative { position: relative; }
.bgWhite { background: #fff; }
.borderRadius12 { border-radius:12px; overflow: hidden; }
.container { width: 75%; margin: auto; }
.containerb { width: 91.45%; margin: auto; }
*{
    z-index: 1;
    position: relative;
    --left: 8.3855%;
	--right: 8.3855%;
    --cbvw_container: 8.22vw;
}
.rightnw {
	padding-right: var(--right);
}
.leftnw {
	padding-left: var(--right);
}

@media(max-width: 1600px){
	.container { width: 88%; margin: auto; }
	.containerb { width: 95.45%; margin: auto; }
	*{
		--left: 6%;
		--right: 6%;
		--cbvw_container: 8.22vw;
	}
}
@media(max-width: 1100px){
	.container { width: 92%; }
	.containerb { width: 92%; margin: auto; }
	*{
		--left: 4%;
		--right: 4%;
		--cbvw_container: 8.22vw;
	}
}



.marginT5 { margin-top:5px; }
.marginT6 { margin-top:6px; }
.marginT8 { margin-top:8px; }
.marginT10 { margin-top:10px; }
.marginT15 { margin-top:15px; }
.marginT20 { margin-top:20px; }
.marginT30 { margin-top:30px; }
.marginT40 { margin-top:40px; }
.marginT50 { margin-top:50px; }
.marginT60 { margin-top:60px; }
.marginT70 { margin-top:70px; }
.marginT80 { margin-top:80px; }
.marginT90 { margin-top:90px; }
.marginT100 { margin-top:100px; }
.marginT120 { margin-top:120px; }
.lh12 { line-height:1.2!important; }
.lh13 { line-height:1.3!important; }
.lh14 { line-height:1.4!important; }
.lh15 { line-height:1.5!important; }
.lh154 { line-height:1.54!important; }
.lh16 { line-height:1.6!important; }
.lh17 { line-height:1.7!important; }
.lh18 { line-height:1.8!important; }
.lh19 { line-height:1.9!important; }
.font80 { font-size: 80px; line-height: 1.1; }
.font70 { font-size: 70px; line-height: 1; }
.font66 { font-size: 65px; line-height: 1.13; }
.font58 { font-size:58px; line-height: 1.13; }
.font55 { font-size:55px; line-height: 1.2; }
.font50 { font-size:50px; line-height: 1.2; }
.font72 { font-size:72px; line-height: 1.2; }
.font70 { font-size:70px; line-height: 1.2; }
.font40 { font-size:40px; line-height: 1.2; }
.font42 { font-size:42px; line-height: 1.2; }
.font44 { font-size:44px; line-height: 1.2; }
.font46 { font-size:46px; line-height: 1.2; }
.font76 { font-size:76px; line-height: 1.2; }
.font26 { font-size:26px; line-height: 1.2; }
.font28 { font-size:28px; line-height: 1.2; }
.font36 { font-size:36px; line-height: 1.2; }
.font38 { font-size:38px; line-height: 1.2; }
.font34 { font-size:34px; line-height: 1.2; }
.font30 { font-size:30px; line-height: 1.2; }
.font24 { font-size:24px; line-height: 1.2; }
.font32 { font-size:32px; line-height: 1.2; }
.font22 { font-size:22px; line-height: 1.2; }
.font21 { font-size:21px; line-height: 1.2; }
.font20 { font-size:20px; line-height: 1.2; }
.font18 { font-size:18px; line-height: 1.6; }
.font16 { font-size:16px; line-height: 1.6; }
.font15 { font-size:15px; line-height: 1.6; }
.font14 { font-size:14px; line-height: 1.6; }
.font12 { font-size:12px; line-height: 1.6; }
.font60 { font-size:60px; line-height: 1.2; }
.font66 { font-size:65px; line-height: 1.2; }
.font120 { font-size:120px; line-height: 1.2; }
.bold { font-weight:bold; font-family:"bai-jamjuree-latin-700-normal"; }
.borderRadius6 { border-radius: 6px; overflow: hidden; }
.borderRadius10 { border-radius: 10px; overflow: hidden; }
.borderRadius20 { border-radius: 20px; overflow: hidden; }
.borderRadius30 { border-radius: 30px; overflow: hidden; }
.borderRadius40 { border-radius: 40px; overflow: hidden; }
@media(max-width:1900px){
	.marginT10 { margin-top:10px; }
	.marginT20 { margin-top:20px; }
	.marginT30 { margin-top:1.6vw; }
	.marginT40 { margin-top:2.2vw; }
	.marginT50 { margin-top:2.7vw; }
	.marginT60 { margin-top:3.4vw; }
	.marginT70 { margin-top:3.7vw; }
	.marginT80 { margin-top:4.3vw; }
	.marginT90 { margin-top:5vw; }
	.marginT100 { margin-top:5.4vw; }
	.marginT120 { margin-top: 6.2vw; }
	.font80 { font-size: 4vw;}
	.font70 { font-size: 3.8vw; }
	.font66 { font-size: 3.5vw; }
	.font58 { font-size: 3vw; }
	.font55 { font-size: 2.8vw; }
	.font50 { font-size: 2.5vw; }
	.font40 { font-size: 2vw; }
	.font36 { font-size: 1.8vw; }
	.font38 { font-size: 1.9vw; }
	.font42 { font-size: 2.1vw; }
	.font44 { font-size: 2.2vw; }
	.font46 { font-size: 2.3vw; }
	.font72 { font-size: 3.6vw; }
	.font70 { font-size: 3.5vw; }
	.font76 { font-size: 3.8vw; }
	.font32 { font-size: 1.6vw; }
	.font30 { font-size: 1.5vw; }
	.font34 { font-size: 1.8vw; }
	.font24 { font-size: 1.2vw; }
	.font26 { font-size: 1.3vw; }
	.font28 { font-size: 1.4vw; }
	.font22 { font-size: 21px; }
	.font21 { font-size: 20px; }
	.font20 { font-size: 19px; }
	.font18 { font-size: 17px; }
	.font60 { font-size: 3.2vw; }
	.font120 { font-size: 6.4vw; }
	.borderRadius20 { border-radius: 1.1vw; }
	.borderRadius30 { border-radius: 1.6vw; }
	.borderRadius40 { border-radius: 2.2vw; }
}
@media(max-width:1700px){
	.font21 { font-size: 19px; }
	.font22 { font-size: 20px; }
	.font20 { font-size: 18px; }
}
@media(max-width:1500px){
	.font21 { font-size: 18px; }
	.font22 { font-size: 19px; }
	.font18 { font-size: 16px; }
	.font20 { font-size: 17px; }
	.lh18 { line-height:1.6!important; }
}
@media(max-width:1300px){
	.font21 { font-size: 17px; }
	.font20 { font-size: 16px; }
	.font22 { font-size: 18px; }
}
@media(max-width:1100px){
	.marginT10 { margin-top:10px; }
	.marginT20 { margin-top:12px; }
	.marginT30 { margin-top:15px; }
	.marginT40 { margin-top:20px; }
	.marginT50 { margin-top:25px; }
	.marginT60 { margin-top:30px; }
	.marginT70 { margin-top:30px; }
	.marginT80 { margin-top:30px; }
	.marginT90 { margin-top:30px; }
	.marginT100 { margin-top:40px; }
	.marginT120 { margin-top: 50px; }
	.font80 { font-size: 27px;}
	.font70 { font-size: 25px; }
	.font66 { font-size: 24px; }
	.font55 { font-size: 24px; }
	.font58 { font-size: 24px; }
	.font50 { font-size: 22px; }
	.font76 { font-size: 30px; }
	.font32 { font-size: 18px; }
	.font30 { font-size: 18px; }
	.font34 { font-size: 20px; }
	.font24 { font-size: 18px; }
	.font26 { font-size: 18px; }
	.font28 { font-size: 20px; }
	.font16 { font-size: 14px; }
	.font15 { font-size: 14px; }
	.font21 { font-size: 16px; }
	.font20 { font-size: 15px; }
	.font22 { font-size: 17px; }
	.font18 { font-size: 15px; }
	.font40 { font-size: 22px; }
	.font42 { font-size: 24px; }
	.font44 { font-size: 24px; }
	.font46 { font-size: 24px; }
	.font72 { font-size: 28px; }
	.font70 { font-size: 26px; }
	.font36 { font-size: 22px; }
	.font38 { font-size: 24px; }
	.font60 { font-size: 26px; }
	.font66 { font-size: 28px; }
	.font120 { font-size: 30px; }
	.marginT90 { margin-top: 30px; }
	.borderRadius20 { border-radius: 10px; }
	.borderRadius30 { border-radius: 15px; }
	.borderRadius40 { border-radius: 20px; }
}
@media(max-width: 600px){
	.font28 { font-size: 18px; }
	.marginT60 { margin-top:20px; }
	.font66 { font-size: 24px; }
	.marginT120 { margin-top: 35px; }
}
.alignC { text-align:center; }
.alignL { text-align:left; }
.alignR { text-align:right; }
.colorWhite { color:#fff; }
.colorRed { color:#E71F1A; }
.color1 { color:#111; }
.color2 { color:#222; }
.color3 { color:#333; }
.color4 { color:#444; }
.color46 { color:#465059; }
.color5 { color:#555; }
.color6 { color:#666; }
.color7 { color:#777; }
.color8 { color:#888; }
.color9 { color:#999; }
.color0 { color:#000; }
.colorA { color:#aaa; }
.colorB { color:#bbb; }
.colorC { color:#ccc; }
.colorD { color:#ddd; }
.color21e { color: #21BF61; }
.color7e { color: #7EF473; }
.textTra { text-transform:uppercase; }
.opa1 { opacity: 0.1; }
.opa2 { opacity: 0.2; }
.opa3 { opacity: 0.3; }
.opa4 { opacity: 0.4; }
.opa5 { opacity: 0.5; }
.opa6 { opacity: 0.6; }
.opa7 { opacity: 0.7; }
.opa8 { opacity: 0.8; }
.opa9 { opacity: 0.9; }
.colorBlue { color:#AD854F; }
.weight100 { font-weight: 100; }
.weight200 { font-weight: 200; }
.weight300 { font-weight: 300; }
.weight400 { font-weight: 400; }
.weight500 { font-weight: 500; }
.weight600 { font-weight: 600; }
.weight700 { font-weight: 700; }
.weight800 { font-weight: 800; }
.weight900 { font-weight: 900; }

a,img { vertical-align:top; }
i { font-style: normal; }

.img100 img { width: 100%; }

.more { background: #5900CC; display: block; padding: 0 30px; border-radius: 10px; display: inline-block; transition: all .5s; }
.more span { font-size: 18px; color: #fff; line-height: 49px; position: relative; padding-right: 20px; transition: all .5s; }
.more span::before { position: absolute; right: 0; content: ""; top: 55%; transform: translateY(-50%); width: 9px; height: 11px; background: url(../images/more.svg)no-repeat center center/cover; }

.more:hover { background: #fff; }
.more:hover span { color: #000; }
.more:hover span::before {  background: url(../images/morea.svg)no-repeat center center/cover; }

.morea { background: rgba(255, 255, 255, 0.2); }

.moreb { background: rgba(255, 255, 255, 0.2); }

.morec { background: #771DEB; }

.Titletotal .treetop { border-radius: 10px; border: 1px solid #5900CC; line-height: 32px; display: inline-block; padding: 0 15px; }
.Titletotal .subject { line-height: 1; margin-top: 25px; }

.Titletotala span,
.Titletotalb span { font-weight: bold; font-family:"bai-jamjuree-latin-700-normal"; }

.Titletotalb .treetop { border: 1px solid #9848FF; background: rgba(152, 72, 255, 0.1); }
.Titletotalb .t1 {
    line-height: 1;
    background: #999999 -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3)) no-repeat 0 0;
    background: #999999 linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3)) no-repeat 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
	word-break: break-all;
}
.Titletotalb .t1 span {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.77));
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.77));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    font-weight: bold;
	font-family:"bai-jamjuree-latin-700-normal";
}

.Titletotalc .t2 {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
	word-break: break-all;
	letter-spacing: -0.02em;
}

.border20 { border-radius: 20px; overflow: hidden; }
.border30 { border-radius: 30px; overflow: hidden; }


@media(max-width:1100px) {
	.more span { font-size: 14px;;line-height: 45px;  }
	.more { padding: 0 20px; border-radius: 5px; }

	.Titletotal .subject { line-height: 1.2; margin-top: 10px; }
	.Titletotal .subject br { display: none; }

	.border20 { border-radius: 15px; }
	.border30 { border-radius: 20px; }

}